input{
    width: 22%;
    background: hsl(0, 0%, 98%);
    font-size: 1.1em;
    line-height: 1.4;
    padding: 6px;
  }
 button{
  border-radius: 25px;
  overflow: hidden;
  color: #0c0b0b;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  padding: 10px 16px;
  text-align: center;
  width: 100px;
}
select{
    width: 22%;
    background: hsl(0, 0%, 98%);
    font-size: 1.1em;
    line-height: 1.4;
    padding: 6px;
}
 